body{
    font-family:Arial,Helvetica,sans-serif;
    background:#f4f4f4;
}

.container{
    width:800px;
    margin:auto;
    margin-top:40px;
}

h1{
    text-align:center;
}

form{
    display:flex;
    gap:10px;
    margin-bottom:20px;
}

input{
    flex:1;
    padding:10px;
}

button{
    padding:10px 20px;
    cursor:pointer;
}

table{
    width:100%;
    border-collapse:collapse;
    background:white;
}

th,td{
    border:1px solid #ddd;
    padding:12px;
    text-align:center;
}

th{
    background:#007BFF;
    color:white;
}

.edit{
    background:orange;
    color:white;
    border:none;
    padding:8px 12px;
}

.delete{
    background:red;
    color:white;
    border:none;
    padding:8px 12px;
}